version: '3'
services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
  app:
    image: your-app-image:latest
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: exampledb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: